# Folder dan file sementara Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]ser[Ss]ettings/

!/[Aa]ssets/**/*.meta


[Aa]ssets/TextMesh*Pro/

[Aa]ssets/Plugins/Editor/JetBrains*

.vs/
.gradle/
.vscode/
.consulo/

# File VS/MD/Consulo
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.zip
*.rar

*.pidb.meta
*.pdb.meta
*.mdb.meta
*.zip.meta
*.rar.meta

# Unity crash report
sysinfo.txt

*.apk
*.aab
*.app
*.ipa
*.unitypackage
*.unitypackage.meta

# Crashlytics build
crashlytics-build.properties

.DS_Store
Thumbs.db

# Pastikan Packages tetap sinkron
!Packages/packages-lock.json
